<header class="app-header">
    <div class="header-container">
        <div class="logo">
            <h1><img src="https://lh3.googleusercontent.com/gg-dl/AOI_d__tTTXNyXPHI9C1bSPQFYvciQv-bVA-zq4vdeMjrU8cb6zz4KMLyuqcP83CQggeyAYIta5T0iWvkQWvkatQtLwVgf18lE7-VkK2cLI6zgyT14dMywcz_q0CcOaOBxrMmH9WBK1e5R7NfRnB15K5gnquhO_xQ-Gkh-JSTxnohcl3y7ek4w=s1024-rj">Kali Music</h1>
        </div>
        <div class="search-box">
            <input type="text" id="search-input" class="search-input" placeholder="Search artists, tracks...">
            <button id="search-btn" class="search-btn">Search</button>
        </div>
        <div class="user-section">
            <div id="user-info">
                <!-- Dynamic content -->
            </div>
        </div>
    </div>
</header>